 
/*

   _______________________________________________
  /												 /
 /                Initialisation       			/
/______________________________________________/

*/
@charset "UTF-8";
@font-face {
	font-family: "Principal";
	src: url('../font/font7.ttf');
}
@font-face {
	font-family: "Secondaire";
	src: url('../font/font1.ttf');
}

a
{
	text-decoration: none;
}

body
{
	margin: 0;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	transition: color 0.5s;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
/*

   _______________________________________________
  /												 /
 /             Barre de navigation     	   		/
/______________________________________________/

*/
nav{
	display:flex;
	width: 100%;
	height: 75px;
	z-index:99;
	-webkit-transition-duration: 0.25s; /* Safari */
transition-duration: 0.25s;
margin-top:-10px;
background-color:rgb(40, 40, 40);
}
nav a
{
	text-decoration:none;
	margin:auto;
	text-align:center;
	line-height: 85px;
	font-size: 20px;
	font-family:Secondaire;
	color:rgb(227, 225, 224);
	-webkit-transition-duration: 0.5s; /* Safari */
	transition-duration: 0.5s;

}

nav a:hover{
opacity:0.9;
-webkit-transform: scale(1.025);
        -ms-transform: scale(1.025);
        transform: scale(1.025);


}
.logo{
	font-size:25px;
	font-family:"Principal";
}

/*

   _______________________________________________
  /												 /
 /                  Containers      			/
/______________________________________________/

*/

.sect
{
	display:flex;
	height:100%;
	background-size: cover;
	background-repeat: no-repeat;

}
.section1{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items:center;
}	


/*

   _______________________________________________
  /												 /
 /               Textes, liens...      			/
/______________________________________________/

*/

.haut
{
	
	width:100%;
	height:50px;
	margin-bottom:0px;
	background-color:grey;
	z-index:99;
}
#retour
{
	color:white;
	margin-left:46%;
	text-align:center;
	line-height:50px;
	font-family:Verdana;
	font-size:1em;
}
.bas{
	position:static;
	display:flex;
	width:100%;
	height:22.5%;
	margin-top:0%;
	z-index:99;
	background-color:#5a5d5c;
	
}
.bas a
{
	margin:auto;
	align-items:center;
	width: 5%;
	z-index:99;
	line-height:17px;
	margin-top:14px;
}
#livraison
{
width:100px;
margin-left:0%;

}
#boutique
{
width:50px;
margin-left:24.5%;
}
#satisfait
{
width:50px;
margin-left:21.5%;
}
.bas p
{
font-family:Verdana;
font-size:13px;
padding:10px -10px;
color:white;
text-align:center;
}
.bas a:hover
{
	text-decoration: none;
	color:grey;

}
#hover{ -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;}
#hover:hover{
	-webkit-filter: blur(.5px); /* Safari */
    filter: blur(0.5px);
    filter:brightness(60%);}


h1{
	text-align:center;
	margin:auto;
	font-family:Verdana;
	font-size:2vw;
}


#connexion
{
text-align:center;
width:32%;
background-color:white;
margin:auto;
margin-top:15px;
border: 2px solid rgb(67, 68, 71);
border-radius: 4px;
padding:4% 6%;
color:rgb(67, 68, 71);
-webkit-transition-duration: 0.5s; /* Safari */
transition-duration: 0.5s;
font-size:0.65vw;
font-family: Verdana;
font-weight:bold;
}

#connexion:hover
{
opacity:0.9;
-webkit-transform: scale(1.025);
-ms-transform: scale(1.025);
transform: scale(1.025);
}

#container2{

width:80%;
height:100%;
margin:auto;
display:flex;
flex-direction:column;
justify-content: center;
align-items:center;
padding:5%;
font-family:Verdana;
}
#sinscrire
{
text-align:center;
width:30%;
background-color:white;
margin:auto;
margin-top:15px;
border: 2px solid rgb(67, 68, 71);
border-radius: 4px;
padding:4% 6%;
color:rgb(67, 68, 71);
-webkit-transition-duration: 0.5s; /* Safari */
transition-duration: 0.5s;
font-size:0.65vw;
font-family: Verdana;
font-weight:bold;
}
#sinscrire:hover
{
	opacity:0.9;
-webkit-transform: scale(1.025);
        -ms-transform: scale(1.025);
        transform: scale(1.025);



}
.formulaire
{
	background-color: white;
	display:flex;
	justify-content:center;
	flex-direction: column;
	padding-top:5%;
	padding-left:15px;
	height:100%;
}
.formulaire1
{
	background-color: white;
	display:flex;
	justify-content:center;
	flex-direction: column;
	padding:15%;
	height:100%;
}
.formulaire2
{
	background-color: white;
	display:flex;
	justify-content:center;
	flex-direction: column;
	padding-top:5%;
	height:100%;
	padding-bottom:5%;
}
#tableau
{
	width:35%;
	height:100%;
	display:flex;
	flex-direction:column;
	border:2.5px solid;
	border-color:rgb(67, 68, 71);
	border-radius:5px;
}
label
{
		font-weight:bold;
		padding-bottom:0.5%;
		font-size:0.82vw;

}
.formulaire input
{
    border: none;
    text-align:left;
    width:95%;
    outline: none;
    border-bottom:1.2px solid;
	border-color: rgb(212, 222, 222);
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	font-family:Verdana;

}
.focus:focus-within
{
	outline: none;
	 border-bottom:3.5px solid;
	 border-color: rgb(100, 100, 100);


}
.alert
{
	padding:20px 20px;
	color: white;
	font-family: verdana;
	border-radius:5px;
	text-align:left;
}
.alert-attention
{
	background-color: rgb(219, 0, 0);

}
.alert-succes
{
	background-color: rgb(81, 137, 69);
}
.contain
{
	width:98%;
	display:flex;
	padding:1%;
	flex-direction: column;
}
.formulaire3
{
	background-color:rgb(204, 0, 0);
	margin-right:10%;
	border-radius:5px;
	padding:1%;
	font-family:Verdana;
	font-size:0.8vw;
	color:white;
	width:25%;
}
.test
{
    font-size: 0.75vw;
    padding-left:5%;
}
#checkbox
{
    background-color: #000000;
}